
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    width: 85px;
    height: 80px;
}


body.login {
    font-family: Arial, sans-serif;
  
    background-color: #f0f2f5; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.login-container {
   
    width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login-container img:first-child {
    max-width: 250px;
    margin-bottom: 30px;
}


.form-signin {
    width: 100%;
}

.form-signin .form-control {
    width: 100%;
    height: 45px; 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
    background-color: white; 
}


#acess {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 65px;
    background-color: #050570; 
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;

}


.form-signin h2 {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    font-weight: normal;
    cursor: pointer;
}


.login-container img:last-child {
    margin-top: 40px;
    max-width: 120px;
}


body.work {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.work #footer-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.uk-card-header {
    display: flex;
    justify-content: space-around;
}

.uk-card-footer {
    display: flex;
    justify-content: space-between;
}


.uk-button-primary {
    height: 45px;
    background-color: rgb(5, 5, 112);
}

.uk-card-media-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBEBEB;
}

.uk-container p {
    font-size: 20px;
    color: black;
}


section .about .uk-button .uk-button-primary {
    display: inline-block;
    margin-bottom: 40px;
    padding: 32px 50px; 
    border-radius: 50px; 
}


.cards {
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards2 {
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


#div {
    background-color: aliceblue;
    height: 100px;
    width: 100%;
}


#acess {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}